body{
  font-family: "Microsoft Yahei","微软雅黑",verdana;
  color: #333;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea{
  outline: 0;
  font: 12px/1.5 "Microsoft Yahei","微软雅黑",verdana;
}
blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol,
p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
a{
  color: #333;
}
a, a:hover {
  text-decoration: none;
}
a, a:active, a:hover, video {
  outline: 0;
}
.g-header{
  .m-nav{
    height: 36px;
    background-color: #333;
    min-width: 1090px;
    .g-row{
      width: 1090px;
      margin-right: auto;
      margin-left: auto;
      color: #ccc;
      .m-left{
        float: left;
        img{
          width: 36px;
          height: 36px;
        }
      }
      .m-right{
        float: right;
        div{
          display: inline-block;
          vertical-align: top;
        }
        .f-login, .f-register {
          margin-right: 20px;
          color: #ccc;
          line-height: 35px;
          cursor: pointer;
        }
        .u-split{
          margin: 10px 20px 10px 0;
          height: 16px;
          border-left: 1px solid #5c5c5c;
        }
      }
    }
  }

  .m-funTab{
    width: 1090px;
    height: 200px;
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(51,51,51,.1);
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    .g-row{
      width: 1090px;
      margin-right: auto;
      margin-left: auto;
      .tab-logo{
        position: absolute;
        top: 52px;
        left: 456px;
        z-index: 2;
        display: inline-block;
        width: 180px;
        height: 60px;
        background-position: 26px 12px;
        background-image: url(../../../img/hdlogo.png);
        background-repeat: no-repeat;
      }
      .m-inner{
        margin-top: 65px;
        margin-bottom: 13px;
        .m-search{
          float: right;
          padding-left: 20px;
          position: relative;
          .u-input{
            width: 252px;
            height: 23px;
            border: 0;
            border-bottom: 1px solid #ccc;
            font-size: 12px;
            line-height: 23px;
            color: #333;
            margin-top: 9px;
            padding: 0 0 5px 5px;
          }
          .u-button{
            width: 80px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            background-color: #e7e7e7;
            border-radius: 4px;
            color: #303030;
            font-size: 14px;
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
          }
        }
      }
      .tab-nav{
        float: left;
        margin-top: 43px;
        line-height: 1;
        overflow: hidden;
        height: 30px;
        .first{
          margin-left: 12px;
          padding-left: 30px;
        }
        .nav-item{
          float: left;
          padding: 6px 30px 0;
          font-size: 14px;
          .u-link{
            position: relative;
            z-index: 2;
            display: block;
            padding-bottom: 6px;
            color: #000;
          }
          .active{
            color: #b4a078;
            border-bottom: 3px solid #b4a078;
          }
        }
      }
    }
  }
}

